# Database Config
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=aidocdb
DB_SSLMODE=disable

# JWT Config
JWT_SECRET=supersecret_dev_key_change_in_prod
TOKEN_EXPIRES_IN=24h

# Service Configs
PORT=8080
EMBEDDING_SERVICE_URL=http://localhost:8000
